.Container-display {
  grid-area: display;
}

.Container-numbers {
  grid-area: numbers;
}

.Container-operators {
  grid-area: operators;
}

.Container-reset {
  grid-area: reset;
}

.Container-history {
  grid-area: history;
}

.Container {
  display: grid;
  justify-self: center;
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px;
  grid-template-areas:
    "display display display ."
    "reset reset operators history"
    "numbers numbers operators history";
}

.Container-display,
.Container-reset,
.Container-numbers,
.Container-operators,
.Container-history {
  background-color: #444;
  border-radius: 5px;
  padding: 20px;
}
